#navbar {
    height: 120px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: fixed;
    z-index: 10;
}

#navbar-wrapper {
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 25% 25% 25% 25%;
}

#navbar img {
    margin: auto;
    height: 40%;
}

#navbar button {
    margin: auto;
    height: 100%;
    width: 100%;
    border-width: 0;
}

#navbar-wrapper div {
    background-color: #50B5FF;
    /* transition: 0.5s; */
}

#navbar-wrapper div :hover {
    background-color: #4192cc;
    transition: 0.5s;
}

#navbar p {
    margin: auto;
    color: white;
    font-size: 175%;
    top: 8%;
    position: relative;
}

#main-content {
    height: auto;
    position: relative;
    top: 220px;
}

#additional-info {
    height: 250px;
    margin-top: -25px;
}

#check-compensation-wrapper {
    display: grid;
    gap: 2%;
    grid-template-rows: 25% 10% 28% 7% 10%;
}

#check-compensation-button {
    width: 100%;
    --height: 100px;
    height: var(--height);
    font-size: 140%;
}

#check-compensation-section {
    width: 100%;
    --height: 300px;
    height: var(--height);
    border-color: gray;
    display: grid;
    grid-template-columns: 33% 33% 30%;
    grid-template-rows: 50%;
    gap: 2%;
}

#check-compensation-label-from {
    --height: 100px;
    height: var(--height);
    font-size: 140%;
}

#check-compensation-label-to {
    --height: 100px;
    height: var(--height);
    font-size: 140%;
}

#check-compensation-writing {
    margin: 0;
    height: 100px;
}

#law-sources {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

#law-sources p {
    text-align: center;
    font-size: 115%;
}

#work-details-wrapper {
    height: inherit;
    display: grid;
    gap: 2%;
    grid-template-rows: 10% 60%;
    padding-top: 5%;
}

#details-grid-wrapper {
    height: 90%;
    width: 95%;
    display: grid;
    grid-template-columns: 31% 32% 31%;
    gap: 3%;
}

#link-button {
    margin: auto;
    width: 20%;
    --height: 100px;
    height: var(--height);
}

.content-wrapper {
    padding: 5%;
}

/*-------------------------------------------------------*/


.bordered {
    border-width: 5px;
    border-style: solid;
    border-color: gray;
}

.horisontal-panel {
    width: 100%;
}

.block {
    margin-left: 15%;
    margin-right: 15%;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.width-center-content {
    display: flex;
    justify-content: center;
}

.center-text {
    text-align: center;
}

.rounded-corners {
    border-radius: calc(var(--height) / 2)
}

.slitely-rounded-corners {
    border-radius: 25px;
}

.slitely-rounded-top-corners {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/*---------------------- SIZE ---------------------*/

.big {
    height: 700px;
}

.medium {
    height: 750px;
}

.small {
    height: 500px;
}

/*---------------------- FONTS ---------------------*/

.rubik-semibold {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 170%;
}

.rubik-regular {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}


/*--------------------- COLORS ----------------------*/

.deep-blue {
    background-color: #50B5FF;
}

.light-blue {
    background-color: #BDE3FF;
}

.dark-gray {
    background-color: #414141;
}

.light-gray {
    background-color: #dfdfdf;
}

.white {
    background-color: #f7f7f7;
}

.dark-gray-font {
    color: #333333;
}

.white-font {
    color: #ffffff;
}

.light-green {
    background-color: #AFF4C6;
}

/*-------------------------------------------*/

body {
    margin: auto;
    min-width: 1000px;
}

/*----------------------- ANIMATIONS --------------------*/


/*---------------------------*/